// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-color1: #006144;
$main-color2: #1D614D;
$main-color3: #00B37C;
$main-color4: #00E09D;
$main-color5: #45E6B5;
