
.show_blog_page {

    .followBtn {
        font-weight: 400;
        text-decoration: none;
        border-radius: 7px;
        padding: 0 10px;
        background-color: var(--bs-success);
        color: #fff;
        transition: 0.4s;
        &:hover {
            text-decoration: underline;
            color: var(--bs-danger);
            background-color: transparent;
        }
    }
}
